<div>
    <h1>Registro</h1>
    <form action="/api/users" method="post">
        <label>Nombre</label>
        <input name="name">
        <label>email</label>
        <input name="email"> 
        <label>Edad</label>
        <input name="edad">   
        <input type="submit">
    </form>
</div>