<div>
  <h1>Productos</h1>
    <p>ingresa el producto</p>
    <br />
    <label>Title</label><br />
    <input id="title">
    <br />
    <label>descripcion</label><br />
    <input id="description">
    <br />
    <label>price</label><br />
    <input id="price">
    <br />
    <label>thumbnail</label><br />
    <input id="thumbnail">
    <br />
    <label>code</label><br />
    <input id="code">
    <br />
    <label>stock</label><br />
    <input id="stock">
    <button>Agregar</button>
    <br />
</div>